html {
    margin: 0px;
    padding: 0px;
    background-color: #FEF;
    background-image:url('pattern.png');
}
body {
    width: 600px;
    background-color: #FFF;
    margin: 0px auto;
    padding: 3px 15px 20px 15px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
    color:#000;
    border-left: 4px solid #CCC;
    border-right: 4px solid #CCC;
}

#forkmeribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}


ul {
    list-style-type:circle;
    margin-bottom:30px;
}

li {
    line-height:1.6em;
}

a {
    font-weight:700;
    color: #000;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

li span.description{
    color: #000;
    line-height:1em;
    margin-left: 12px;
}

hr {
    border: none;
    border-bottom:1px solid #ccc;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin:2px;
}

p {
    padding:10px;
    line-height:1.4em;
}

p.dialog {
    border:1px solid #CCC;
    padding: 5px 15px;
    margin: 30px 0px;
    line-height:1em;
}

p.dialog:before {
    float:left;
    margin:10px;
    padding-right:14px;
}

p.info {
    background-color: #EEF;
}

p.info:before{
    content:url('info.png');
}

p.warning {
    background-color: #FFE;
}

p.warning:before {
    content:url('warning.png');
}

p.alert {
    background-color: #FEE;
}

p.alert:before {
    content:url('alert.png');
}