html {
    margin: 0px;
    padding: 0px;
    background-color: #FEF;
}
body {
    width: 600px;
    background-color: #FFF;
    margin: 0px auto;
    padding: 3px 15px 20px 15px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
    color:#000;
    border-left: 4px solid #CCC;
    border-right: 4px solid #CCC;
}

#forkmeribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

a {
    text-decoration: none;
    background-color: #EEE;
    padding:3px;
    color: #000;
}

a:hover {
    background-color: none;
}

ul {
    list-style-type:circle;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin:2px;
}

p {
    padding:10px;
}

p.dialog {
    border:1px solid #CCC;
    padding: 5px 15px;
}

p.dialog:before {
    float:left;
    margin:10px;
    padding-right:14px;
}

p.info {
    background-color: #EEF;
}

p.info:before{
    content:url('info.png');
}

p.warning {
    background-color: #FFE;
}

p.warning:before {
    content:url('warning.png');
}

p.alert {
    background-color: #FEE;
}

p.alert:before {
    content:url('alert.png');
}